.StudentListPageWrapper {
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
}

.SeparateLine {
    position: absolute;
    width: 650px;
    height: 0px;
    left: 718px;
    top: 343px;

    border: 1px solid #E4E4E4;
    transform: rotate(90.01deg);
}