.TableContentWrapper {
    width: 624px;
    height: 498px;
    border-bottom: solid 1px #C7C7C7;
    overflow: scroll;
}

.TableContentText {
    position: absolute;
    width: 585px;
    height: 56px;
    left: 20px;
    top: 241px;

    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    text-align: center;

    color: #000000;

}