.ControlBarWrapper {
    position: absolute;
    width: 624px;
    height: 30px;
    left: 42px;
    top: 343px;
}

.ControlBarSearch {
    position: absolute;
    width: 178px;
    height: 30px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid #9D9D9D;
    box-sizing: border-box;
}

.ControlBarAdd {
    position: absolute;
    width: 99px;
    height: 30px;
    left: 525px;
    top: 0px;

    border: 1px solid #000000;
    box-sizing: border-box;
}

.ControlBarAddText {
    position: absolute;
    width: 34px;
    height: 23px;
    left: 32px;
    top: 4px;

    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */


    color: #000000;
}