.HeaderWrapper {
    position: absolute;
    width: 1352px;
    height: 76px;
    left: 42px;
    top: 34px;
}

.mainImg {
    position: absolute;
    width: 54px;
    height: 58px;
    left: 4px;
    top: 9px;
}

.mainText {
    /* 와플고등학교 명단 관리 프로그램 */
    position: absolute;
    width: 326px;
    height: 31px;
    left: 80px;
    top: 23px;

    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */
    color: #000000;

}