.PopUpModalWrapper {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: rgba(0, 0, 0, 0.36);
}

.PopUpModal {
    position: absolute;
    width: 636px;
    height: 333px;
    left: 441px;
    top: 372px;

    background: #FFFFFF;
}

.PopUpModalTitle {
    position: absolute;
    left: 46px;
    top: 37px;
    width: 544px;
    height: 60px;
}

.PopUpModalIconWrapper {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0px;
    top: 0px;
    display: flex;
}

.PopUpModalIcon {
    margin: auto;
    width: 48px;
    height: 48px;
}

.PopUpModalTitleText {
    position: absolute;
    left: 70px;
    top: 15px;
    width: 474px;

    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */


    color: #000000;

}

.PopUpModalText {
    position: absolute;
    left: 46px;
    top: 107px;
    margin: 10px;
    width: 514px;

    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #000000;
}

.PopUpModalCloseCheckWrapper {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 264px;
    top: 266px;

}

.PopUpModalCloseCheck {
    position: absolute;
    width: 225px;
    height: 50px;
    left: 0px;
    top: 0px;

    background: #D3EAFF;
    border-radius: 10px;
}

.PopUpModalCloseCheckBox {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 13px;
    top: 11px;
}

.PopUpModalCloseCheckText {
    position: absolute;
    width: 164px;
    height: 23px;
    left: 50px;
    top: 13px;

    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    text-align: left;

    color: #000000;

}

.PopUpModalCloseWrapper {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 514px;
    top: 266px;

}

.PopUpModalClose {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 0px;
    top: 0px;

    background: #FCD8D8;
    border-radius: 10px;
}

.PopUpModalCloseIconWrapper {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 13px;
    top: 13px;
}

.PopUpModalCloseIcon {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
    width: 20px;
    height: 20px;
}

.PopUpModalCloseText {
    position: absolute;
    width: 34px;
    height: 23px;
    left: 50px;
    top: 13px;

    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    text-align: right;

    color: #000000;

}